body {

    background-color: #dae1e7;

}

nav {
    background-color: #0d364f;
    padding-left: 5px;
    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.692);
    margin-top: 0%;
    
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 2%;
    color: white;

}


.lleft {
    margin-left: 3%;
}

.icons {
    color: white;
    padding-right: 2px;
    margin-right: 1%;
    width: 250px;
    margin-top: 1.2%;
}

.lleft {
    margin-left: 3%;
    width: 150px;
}

.icons:hover {
    color: rgb(212, 235, 253);
    text-decoration: none;
}

.navbar {
    padding-right: 7%;
}

.img3 {
    height: 40px;
    width: 40px;
    position: absolute;
    margin-right: 100px;
    display: inline-block;

}

.span1 {
    margin-right: 50px;

}

.nav-link {
    text-align: left;
    margin-left: 15%;

    font-size: 1.1rem;
}

.fa-phone,
.fa-envelope {
    margin-right: 4px;
}

/*intro*/

.intro {
    background-image: url("build1.jpg");
    height: 550px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 0px;
    background-color: white;
    padding-right: 5%;
}


.leftintro {

   
    font-family: 'Kanit', sans-serif;
    font-size: 4.2rem;
   
    padding: 3% 2% 0% 3%;
    
    margin: 15% 2% 0% 5%;
    text-align: center;
   
    color: #1c152e;


}


.ml12 {
 font-weight: bold;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  margin-top:0% ;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

.rightintro {

    /*position: absolute;*/
    height: 350px;
    margin-top: 30%;
    margin-right: 8%;
    margin-left: 8%;

}

.logo {
    height: 350px;
    margin-top: 20%;
    margin-right: 8%;
    margin-left: 25%;

}


.thirdintro {
    height: 450px;
}

.intro2bg
{
    background-image: url("build1.jpg");
    height: 550px;
    background-repeat: no-repeat;
    z-index: 10;
    background-size: 100% 100%;
    margin-top: 0px;
    background-color: #6983aa;
    padding-right: 5%;

}

.intro3bg {
    background-image: url("10bg.jpg");
    height: 550px;
    background-repeat: no-repeat;
    background-color: white;
    padding-right: 5%;
    text-align: center;
    background-size: 100% 100%;
    margin-top: 0px;

}








/*second slide effects text*/

.ml15 {
    font-weight: 800;
    font-size: 3.8em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 25%;
}

.ml15 .word {
    display: inline-block;
    line-height: 1em;
}

h1 {
    text-align: center;
}

.card {
    display: inline-block;
    width: 18rem;
    margin-top: 7%;

}

.cb {
    height: 78px;
}
.cb1{
    height: 170px;
}




.card:hover {
    /* box-shadow:5px 10px 8px rgba(32, 32, 32, 0.692)  ;*/
    box-shadow: 0px 5px 8px 8px rgba(32, 32, 32, 0.692);

}

.card-img-top {
    height: 200px;
}

.card-text {
    color: black;
}

h2 {
    font-family: 'Coustard', serif;
    text-align: center;
    margin: 3%;
    font-size: 2.2rem;

}

h5,
h4 {
    font-family: 'Coustard', serif;
    text-align: center;
}

#sec-title {

    background-color: #1a4b69;
    border-radius: 50px;
    margin-left: 3%;
    margin-right: 3%;
    padding: 5%;
    text-align: center;

}

/*footer*/
#footer {
    background-color: #0d364f;
    margin-top: 6%;
    height: 150px;
    margin-bottom: 0px;
}

.fa-facebook-square,
.fa-linkedin,
.fa-instagram,
.navbar-brand:hover {
    color: white;
}

.fa-facebook-square,
.fa-linkedin,
.fa-instagram {
    float: right;
    margin: 1%;
}

.img4 {
    height: 80px;
    width: 80px;
    position: relative;
    display: inline-block;
}

.foot {
    color: rgb(202, 202, 202);
    text-align: center;
}




/*About*/
.aboutbg {
    background-color: white;
   
    margin: 5%;
     margin-top:0%;
    padding: 4%;
    box-shadow: 0px 5px 8px 8px rgba(32, 32, 32, 0.692);
    display: inline-block;
}

.about-text {
    line-height: 2rem;
    font-family: 'Roboto Slab', serif;
    font-size: 1.1rem;
    text-align: justify;

}

.parent-about,
.parent-product {
    background-color: #1a4b69;
    padding: 2%;
    padding-top: 0.2%;
    margin: 3%;
    border-radius: 30px;

}

.team {

    border-radius: 300px;
    display: inline-block;
    text-align: center;
}

.im {
    padding: 10%;
    display: inline-block;
    text-align: center;
}

h6 {
    font-family: 'Roboto Slab', serif;
    margin: 0.5%;
    font-size: 1.2rem;
}

/*products*/

.bord {
    border-style: solid;
    border-color: #1a4b69;
    background-color: white;
    padding: 4%;
    padding-right: 6%;
    margin-bottom: 5%;

}

.spacebg {
    text-align: center;
    margin: 5%;

}

.spacebg:hover {
    box-shadow: 0px 5px 8px rgba(32, 32, 32, 0.692);
}

.parent-product {

    text-align: center;
}

.aboutp {
    background-color: white;
    padding: 4%;
    box-shadow: 0px 5px 8px 8px rgba(32, 32, 32, 0.692);
    display: inline-block;
    text-align: center;
}

.car {
    width: 16rem;

}

table,
th,
td {
    border: 2px solid #1a4b69;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 10px;

}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.dis {
    background-color: #1a4b69;
    color: white;
    text-align: center;
    padding: 3%;
    margin-top: 3%;
}

a:hover {
    text-decoration: none;
}


.modal-title {
    text-align: center;
}

.tit {
    font-family: 'Kanit', sans-serif;
    font-size: 1.3rem;
    margin-left: 38%;
    margin-right: auto;
}

.dat {
    font-size: 1rem;
}

/* media query*/

@media (max-width:1187px){
    .ml12{
        font-size: 1.4rem;
    }
    .leftintro{
        font-size: 3.8rem;
    }

}


@media (max-width:1140px) {

    .leftintro {

       
        font-size: 3.8rem;
        padding: 2%;
        padding-right: 2%;
       margin: 20% 3% 0% 8%;
       

    }

    .rightintro {

        /*position: absolute;*/
        height: 300px;
        margin-top: 35%;
        margin-right: 8%;
        margin-left: 6%;


    }

    #cent {
        padding: 10%;
        text-align: center;
    }

}
@media (max-width:1113px) {
    .leftintro {

        font-size: 3.2rem;
        padding: 3%;
        padding-right: 2%;
        margin: 20% 3% auto 8%;

    }
}

@media (max-width:990px) {
    .leftintro {

        font-size: 3.8rem;
        padding: 3%;
        padding-right: 2%;
        margin: 12% 3% auto 8%;

    }

    .rightintro {

        /*position: absolute;*/
        height: 300px;
        margin-top: 3%;
        margin-right: auto;
        margin-left: 25%;
        display: block;
       



    }
  


    /*second carousel*/

    .intro,
    .intro2bg,.intro3bg
    {
        
        height: 710px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-top: 0px;


    }
    

    .intro3bg,
    .intro {

        background-color: white;
        padding-right: 5%;

    }

    .logo {
        height: 350px;
        z-index: 10;
        margin-top: 12%;
        margin-right: auto;
        margin-left: auto;


    }

    .ml15 {
        font-weight: 800;
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        margin-top: 5%;
        text-align: center;
    }

    .ml15 .word {
        display: inline-block;
        line-height: 1em;
    }

    .card {
        display: inline-block;
        text-align: center;

        width: 20rem;
        height: 20rem;
        margin-top: 7%;

    }
    .card1{
        height: 23rem;
    }

    #sec-title,
    .logo,
    .intro2bg,
    .intro3bg {
        text-align: center;
    }

    .navbar-brand {
      
        font-size: 1.4rem;
        font-weight: bold;
        margin-left: 2%;
        
    }

    .img3 {
        height: 35px;
        width: 35px;
    }

    .navbar {
        padding-right: 2%;

    }

    .icons {
      
        margin-right: 0.5%;
        font-size: 0.8rem;
        margin-left: 15%;
    }



}

@media (max-width:2050px) {
    #cent {
        padding: 1%;
        text-align: center;
    }
}

@media (max-width:553px) {

    #footer {
        background-color: #0d364f;
        margin-top: 6%;
        height: 199px;
        margin-bottom: 0px;
    }


}

@media (max-width:662px) {

    .leftintro {

        margin-top: 15%;

        font-size: 3rem;



    }

    .rightintro {

        /*position: absolute;*/
        height: 280px;
        margin-top: 12%;
        margin-right: 8%;
        margin-left: 15%;

    }

    .team {

        border-radius: 300px;
        display: inline-block;
        text-align: center;
        width: 150px;
    }


    .im {
        padding: 10%;
        display: block;
        text-align: center;



    }
}

@media(max-width:523px) {
    .leftintro {

        margin-top: 22%;

        font-size: 2.5rem;



    }

    .rightintro {

        /*position: absolute;*/
        height: 250px;
        margin-top: 8%;
        margin-right: 8%;
        margin-left: 7%;
        width: 370px;

    }

    .logo {
        height: 330px;
        width: 310px;
        margin-top: 20%;
        margin-left: 6%;
    }

    .thirdintro {
        height: 450px;
        width: 330px;
        margin-top: 9%;
    }

    .card {
        display: inline-block;
        width: 17.5rem;
        margin-top: 7%;

    }

    table,
    th,
    td {

        padding: 4px;
        width: 100px;

    }

    .about-text {
        line-height: 1.8rem;
        word-spacing: -3px;

    }
    .aboutbg {
       
        margin: 5px;
        padding: 4px;
    }

    .tit {
        font-family: 'Kanit', sans-serif;
        font-size: 1.3rem;
        margin-left: auto;
        margin-right: auto;
    }




}
@media (max-width:760px){

    .rightintro {

        /*position: absolute;*/
        height: 250px;
        margin-top: 8%;
        margin-right: 8%;
        margin-left: 25%;
        width: 370px;

    }

}
















.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

.big {
    color: rgb(41, 104, 160);
    float: none;
    font-size: 35px;
}

.bigg {
    color: rgb(255, 255, 255);
    float: none;
    font-size: 35px;
}

.big:hover {
    color: #36A0FF;

}
.idd2,.idd3,.idd1,.idd4,.idd5,.idd6,.ms{
    text-align:left;
   display: inline;
   visibility: hidden;
   color: red;
}


/*contact page*/

.contact {
    padding: 4%;
    height: 400px;
   margin-bottom:500px;
   margin-top: 70px;
  }

  .col-md-4 {
    background: #ff9b00;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  .contact-info {
    margin-top: 10%;
  }

  .contact-info img {
    margin-bottom: 15%;
  }

  .contact-info h2 {
    margin-bottom: 10%;
    
  }

  .col-md-8 {
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  .contact-form label {
    font-weight: 600;
  }
  label{
    display: inline;
  }

  .contact-form button {
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
  }

  .contact-form button:focus {
    box-shadow: none;
  }
  .cpage{
  margin-left: 2px;
  display: block;
}
@media(max-width:767px){
  .cpage{
      margin-left: 15%;
      display: inline;
      text-align: center;
      
  }
  .contact{
    margin-bottom:700px;
    width: 95%;
  }
  .col-md-4 {
    background: #ff9b00;
    padding: 4%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  .col-md-8 {
    
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 0.5rem;
  }
  
  
}
  @media(max-width:438px){
  .cpage{
      margin-left: 8%;
      display: inline;
      text-align: center;
  }
  

}

@media (max-width:498px) {

    .rightintro {

        /*position: absolute;*/
        height: 250px;
        margin-top: 8%;
        margin-right: 8%;
        margin-left: 13%;
        width: 360px;

    }

}
@media (max-width:403px) {

    .rightintro {

        /*position: absolute;*/
        height: 250px;
        margin-top: 8%;
        margin-right: 8%;
        margin-left: 8%;
        width: 360px;

    }

}
/*  */
/*THIRD CAROUSEL ANIMATION*/

.in,.out{
    color: #fff;
    
    font-family: 'Kanit', sans-serif;
    font-size: 3rem;

}

.ml16 {
    font-weight: 800;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    
    text-align: center;
}

.ml16 .word1 {
    display: inline-block;
    line-height: 1em;
}



/* dropdown */
.dropdown-menu{    background-color: rgb(26, 70, 97);
    
}


.dropdown-menu a{
    color: #FFFFFF !important;
}

.dropdown-menu a:hover{
    color: black !important;
}
